@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Special selectors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro', 'Droid Sans Mono', monospace;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ff00a0;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  border-radius: 10px;
}

/* Elements */
body {
  color: #f0f0f0;
  background-color: #202020;
  font-size: 0.875em;
}

header,
main,
footer {
  /* border: 1px solid rgb(0, 225, 255); */
  border-radius: 5px;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  z-index: -1;
}

main {
  margin: 5em 0 90% 0;
  z-index: 0;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
}

nav {
  background-color: #272727;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

pre {
  background-color: #282c34;
  border-radius: 10px;
  overflow: scroll;
}

code {
  color: #e6c07b;
  font-weight: 600;
  /* font-style: italic; */
}

a {
  color: #ffff00;

  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
  transition: all 250ms ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: #ff00a0;
}

p {
  margin: 10px;
  padding: 10px;
}

textarea {
  color: rgb(240, 240, 240);
  background-color: #272727;

  width: 100%;
  height: 10em;
  margin: 5px;
  padding: 10px;

  border: 1px solid #7a7a7a;
  /* widget has custom themed border color */
  border-radius: 5px;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  /* give widgets a hover-like effect */
  /* make widgets feel smooth and responsive */
}

textarea:hover {
  animation: borderColorCycle 1s infinite alternate;
}

textarea:focus,
textarea:active {
  animation: none;
  outline: none !important;
  border: 1px solid #00ff00;
}

/* Unique id's */
div#context-window {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-radius: 5px;
}

div#user-input {
  background-color: #272727;
  /* border: 1px solid #ff00a0; */
  border-radius: 5px;
}

/* Classes */
/* NOTE: The container is required to enable center alignment */
div.container {
  margin: 0 auto;
  max-width: 50%;
}

div.message {
  margin: 10px 0;
  padding: 2em;
  background-color: #303030;
  border-radius: 5px;
}

div.message ul,
div.message ol {
  margin: 10px;
  padding: 10px;
}

div.input-row {
  display: flex;
  justify-content: center;
}

/* Buttons */
div.button-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

button {
  color: rgb(240, 240, 240);
  margin: 5px 5px;
  padding: 5px;
  background-color: rgb(75, 75, 75);
  transition: all 50ms ease-in-out;
  border: 1px solid rgba(255, 192, 203, 0.33);
  /* widget is pink by default */
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 100ms ease-in-out;
  /* make buttons feel responsive and snappy */
}

button p {
  margin: 5px;
  padding: 0;
}

button:hover {
  animation: borderColorCycle 1s infinite alternate;
  border: 1px solid rgba(255, 255, 0, 0.33);
  /* widget is yellow on hover */
}

button:active {
  animation: none;
  background-color: #404040;
  border: 1px solid #00ff00;
  /* widget is green on active */
  transform: scale(0.95);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Animations */
div.animated-border-error {
  border: 1px solid red;
  /* Or use a more attention-grabbing color */
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  animation: errorFlash 1s infinite alternate;
}

@keyframes errorFlash {
  from {
    border-color: rgb(255, 150, 200);
  }

  to {
    border-color: rgb(255, 0, 0);
  }

  /* Adjust colors as needed for visibility */
}

div.animated-border {
  border: 1px solid #ff00a0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  animation: borderColorCycle 1s infinite alternate;
  /* Apply animation */
}

@keyframes borderColorCycle {
  0% {
    border: 1px solid #00aaff;
  }

  50% {
    border: 1px solid #ffff00;
  }

  100% {
    border: 1px solid #ff00a0;
  }
}

/* Responsive */
@media (max-width: 7680px) {
  div.container {
    max-width: 30%;
  }
}

@media (max-width: 3840px) {
  div.container {
    max-width: 35%;
  }
}

@media (max-width: 1920px) {
  div.container {
    max-width: 40%;
  }
}

@media (max-width: 1280px) {
  div.container {
    max-width: 50%;
  }
}

@media (max-width: 1024px) {
  div.container {
    max-width: 65%;
  }
}

@media (max-width: 720px) {
  div.container {
    max-width: 75%;
  }
}

@media (max-width: 576px) {
  div.container {
    max-width: 85%;
  }
}

@media (max-width: 480px) {
  div.container {
    max-width: 100%;
  }
}
