blessed==1.20.0
bpython==0.24
certifi==2023.11.17
charset-normalizer==3.3.2
curtsies==0.4.2
cwcwidth==0.1.9
gguf==0.6.0
greenlet==3.0.2
idna==3.6
importlib-metadata==7.0.0
isort==5.13.1
Jinja2==3.1.2
linkify-it-py==2.0.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdit-py-plugins==0.4.0
mdurl==0.1.2
numpy==1.26.2
Pygments==2.17.2
pyxdg==0.28
requests==2.31.0
rich==13.7.0
ruff==0.1.7
six==1.16.0
textual==0.45.1
typing_extensions==4.9.0
uc-micro-py==1.0.2
urllib3==2.1.0
wcwidth==0.2.12
zipp==3.17.0
